# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# databases and models (do NOT upload)
attendance.db
trainer.yml
*.db
dataset/
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
